$color-backcground: #fffffe;
$color-header: #272343;
$color-paragraph: #2d334a;
$color-btn: #ffd803;
$color-btntext: #272343;

$color-stroke: #272343;
$color-primary: #fffffe;
$color-highlight: #ffd803;
$color-secondary: #e3f6f5;
$color-tertiary: #bae8e8;

$color-test: #ff6600;
